# Files and folders to be ignored
/Data
/Results/**/*
/Publication
/Presentations
/Literature
/Experimental_Setup

# Subfolders to be ignored
/Analysis/Modelling/LSTM/bashfiles
/Analysis/Modelling/LSTM/processed
/Analysis/Modelling/LSTM/TEMP
/Analysis/SourceReconstruction/eLORETA_MJ/sa_nyhead.mat

# Pycharm related files
*__pycache__*

# R related files & folders
**/*/.Rproj.user
*.RData
.Rhistory

# Ignore MATLAB autosaves:
*.asv  # Windows
*.m~   # OSX

# Others
*.DS_Store

# Exceptions
!Results/Tables/alphapeaks_FOOOF_fres024_813.csv
!Results/Tables/results_across_methods_nomov.csv
!Results/Tables/results_across_methods_novmov_supplementary_analysis.csv
!Results/Tables/results_across_methods_mov.csv
!Results/Tables/results_across_methods_mov_supplementary_analysis.csv
